<div class="header mb" *ngIf="!showModalHistory">
  <h1 class="title">producción</h1>
  <div class="filter">
    <div [formGroup]="infoUser">
      <svg class="header__icon icon--marginr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/>
      </svg>
      <select class="form__input select" name="state" id="state" formControlName="state" required>
          <option value="all">Todos</option>
          <option value="lastyear">Año pasado</option>
      </select>
    </div>
  </div>
</div>

<section *ngIf="!verificacionHistorial && !showModalHistory">
  <table class="table mb">
      <thead>
          <tr>
              <th>Año</th>
              <th>Mes</th>
              <th>Cantidad Racimos</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of history" (click)="modalHistory(item)">
              <td>{{ item.Year }}</td>
              <td>{{ getMonthName(item.Month) }}</td>
              <td>{{ item.numBunches }}</td>
          </tr>
      </tbody>
  </table>
</section>

<!-- <section class="orders" *ngIf="!verificacionHistorial">
    <div class="order" *ngFor="let item of history">
      <button class="order__link" href="javascript:void(0);" (click)="modalHistory(item)" aria-label="Abrir detalles de la orden" >
          <h2 class="order__title">{{ getMonthName(item.Month) }} {{ item.Year }}</h2>
          <div class="imagenContainer">
            <div class="imagen">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQinYs6MdyYKOVgilhkNrD6TFD1TnMhdNO7GA&usqp=CAU" alt="imagen de platano">
            </div>
            <div class="circuloNumBunches">
              <span class="truncate-text">{{ item.numBunches || '00' }}</span>
            </div>
          </div>
      </button>
    </div>
  </section> -->
  
<span *ngIf="verificacionHistorial">Noy hay historial</span>
  
<app-modal-production [showModalHistory]="showModalHistory" [historyDetails]="historyDetails" (closeModalHistory)="closeModalHistory()"></app-modal-production>