.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEFEFE;
  font-weight: bold;
  font-size: large;
}

.login {
  display: flex;
  width: 70%;
  height: 90%;
}

.login__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.logo {
  width: 30rem;
}

.login__body {
  width: 50%;
  min-width: 300px;
  /* max-width: 500px; */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .alert {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  height: 350px;
  gap: 30px;
  justify-content: space-evenly;
}

.form__group {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.form__input {
  position: relative;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.alert {
  color: #f00; 
  font-size: 14px; 
  margin-top: 5px; 
  visibility: hidden;
}

.alert--icon {
  position: absolute;
  width: 1rem;
  fill: #f00;
  height: 100%;
  right: 0.5rem;
}

.error {
  border: 1px solid lightcoral;
}

.alert--error {
  visibility: visible;
}

.options {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.options p {
  text-align: center;
}

.buttons {
  gap: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.button--success {
  margin-top: 0;
}

.background {
  display: none;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .login {
    width: 80%;
    z-index: 999;
  }

  .login__image {
    display: none;
  }

  .background {
    display: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }

  .login__body {
    padding: 0;
    box-shadow: none;
    width: 100%;
    justify-content: space-between;
  }
}