<div class="card">
  <div class="card__body">
    <h2 class="card__header">Iniciar sesión como {{ roleName }}</h2>
    <form class="form" [formGroup]="userForm" (ngSubmit)="login()">
      <div class="form__group">
        <label class="form__label" for="docType">Tipo de documento</label>
        <select class="form__input select" name="docType" id="docType" formControlName="docType" required>
          <option *ngFor="let item of docTypeselect" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>
      <div class="form__group">
        <label class="form__label" for="documento">Número de documento</label>
        <input class="form__input" type="number" id="documento" formControlName="documento" placeholder="Ingrese el número de documento" [ngClass]="{ 'error': (documento.invalid && documento.touched) || err  }"/>
        <div class="alert" [ngClass]="{ 'alert--error': documento.invalid && (documento.dirty || documento.touched) }">
          El número de documento es obligatorio
        </div>
      </div>
      <div class="form__group">
        <label class="form__label" for="password">Contraseña</label>
        <input class="form__input" type="password" id="password" formControlName="password" placeholder="Ingrese su contraseña" [ngClass]="{ 'error': (password.invalid && password.touched) || err }"/>
        <div class="alert" [ngClass]="{ 'alert--error': password.invalid && (password.dirty || password.touched) }">
          La contraseña es obligatoria
        </div>
      </div>
      <div class="form__group">
        <button class="button button--success" [disabled]="userForm.invalid">Iniciar sesión</button>
        <div class="alert" [ngClass]="{ 'alert--error': err }">los datos ingresados son incorrectos</div>
      </div>
    </form>
    <div class="options">
      <p>Otras opciones</p>
      <div class="buttons">
        <button class="button button--search" (click)="roleSelect('0')" *ngIf="role !== '0'">Agricultor</button>
        <button class="button button--search" (click)="roleSelect('1')" *ngIf="role !== '1'">Colaborador</button>
        <button class="button button--search" (click)="roleSelect('3')" *ngIf="role !== '3'">Asociado</button>
      </div>
    </div>
  </div>
</div>