button {
  border-radius: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out;
}

.modal--show {
  opacity: 1;
  visibility: visible;
  z-index: 999;
  overflow: scroll;
  background-color: rgb(246, 246, 246);
}

.modal--open {
  overflow: hidden;
}

.modal__card {
  width: 100%;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 0.25s ease-in-out;
}

.modal__header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  max-width: 800px;
  margin-bottom: 2.5rem;
  justify-content: space-between;
  border-bottom: 1px solid #ced4da;
}

.modal__heading {
  font-size: 1.5rem;
}

.modal__close {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background: none;
  color: #1d594f;
  text-decoration: none;
  transition: transform 0.3s;
}

.modal__close:hover {
  transform: scale(1.5);
}

.close__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tape__table {
  width: 100%;
}

.tape__item {
  display: grid;
  width: 100%;
  height: 4rem;
  grid-template-columns: 0.3fr 1.5fr 0.5fr 1fr;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(242, 242, 242);
  box-shadow: rgba(149, 157, 165, 0.35) 0px 10px 15px;
}

.item--notTapes {
  grid-template-columns: 1fr; 
  height: 50vh;
}

.item--notTapes > * {
  justify-content: center;
  flex-direction: column;
}

.button--newTape {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  padding: 0.5rem;
  font-weight: 500;
  font-size: .875rem;
  margin-top: 1.5rem;
  align-items: center;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  justify-content: center;
  background-color: #e9ecef; 
  color: #6c757d; 
}

.tape__item > * {
  display: flex;
  align-items: center;
}

.tape__header > *:not(:first-child), .tape__quantity {
  justify-content: center;
}

.tape__item > *:not(:first-child, :last-child) {
  border-right: 1px solid #ced4da;
}

.tape__type {
  padding-left: 1rem;
  border-left: 1px solid #ced4da;
}
th:nth-child(2) {
  border-left: 1px solid #ced4da;
}

.tape__color {
  background-color: #c7d5f6;
  height: 100%;
  width: 50%;
}

.tape__end-date {
  justify-content: end;
}

/*botonFlotante*/

.button {
  position: fixed;
}

.button--overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  width: 100vw;
  height: 100vh;
  z-index: 998;
  bottom: 0;
  right: 0;
}

.button__cta {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  position: fixed;
  bottom: 4.68rem;
  right: 1.1rem;
  z-index: 1001;
  background-color: gray;
  cursor: revert;
  border: revert;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__icon {
  width: 2rem;
} 

.button__options {
  position: fixed;
  bottom: 10rem; 
  right: 1.1rem; 
  min-width: 7.5rem;
  background-color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  z-index: 1001;
  border-radius: 1rem;
  overflow: hidden;
}

.button__option {
  cursor: pointer;
  padding: 0.5rem;
  padding-right: 0.8rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.button_option:hover {
  background-color: #333;
}

.button__text {
  margin-right: 0.625rem;
  font-size: 1rem;
}

.button__icon--small {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.1rem;
}

.rotate {
  transform: rotateY(180deg);
}