<div class="modal-wrapper" [ngClass]="{'mostrar-modal': modalVisible}" (click)="closeModal($event)">
  <div class="modal-body card">
      <div class="modal-header">
        <h1 class="heading">Cintas - {{getSelectedBatchName()}}</h1>
        <a href="javascript:void(0);" role="button" class="close" (click)="cerrarModal.emit()"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <div class="tapes-section">
        <div *ngFor="let cintaItem of getFilteredCintas()">
          <div class="info-cinta">
            <div class="color-cinta" [style.background-color]="cintaItem.color"></div>
            <div class="tipo-platano">{{ cintaItem.variety }}</div>
            <div class="cantidad-platano">{{ cintaItem.numBunches }}</div>
            <div class="fecha-inicio">{{ cintaItem.startDate }}</div>
            <div class="fecha-final">{{ cintaItem.endDate }}</div>
          </div>
        </div>
      </div>
      <button class="edit-button" (click)="editarLote.emit(batchID)"><i class="edit fa-solid fa-pen fa-xl"></i></button>
    </div>
  </div>  