<div class="modal-wrapper" [ngClass]="{'mostrar-modal': crearLoteVisible}">
    <div class="modal-body card">
      <div class="modal-header">
        <h1 class="heading">Nuevo Lote</h1>
        <a href="javascript:void(0);" role="button" class="close" (click)="cerrarCrearlote.emit()"><i class="fa-solid fa-xmark"></i>X</a>
      </div>
      
      <form [formGroup]="loteForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="batchName">Nombre del Lote</label>
          <input type="text" id="batchName" formControlName="batchName" class="form-control" required>

        </div>
        <div class="form-group">
          <label for="responsible">Responsable</label>
          <input type="text" id="responsible" formControlName="responsible" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="mainVariety">Variedad Principal</label>
          <input type="text" id="mainVariety" formControlName="mainVariety" class="form-control" required>
        </div>
        <button type="submit" [disabled]="loteForm.invalid" class="btn btn-primary">Crear Lote</button>
      </form>
  
      {{ loteForm.value | json }}
    </div>
  </div>
  