<div class="modal" [ngClass]="{'modal--show': showCreateBatch}" (click)="closeDialog($event)"
  [attr.aria-hidden]="!showCreateBatch"
  [attr.aria-modal]="showCreateBatch ? 'true' : 'false'" role="dialog" aria-labelledby="modalTitle">
  <div class="modal__card">
    <div class="modal__header">
      <h1 class="modal__heading" id="modalTitle">Crear nuevo lote</h1>
      <a  class="modal__close" href="javascript:void(0);" role="button" (click)="allClose()" aria-label="Cerrar modal">
        <svg class="close__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
          <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
        </svg>
      </a>
    </div>
    <div class="modal__content">
      <div class="modal__description">
        <p>Aquí puedes crear una nuevo lote. Completa la información y asegúrate de revisar cuidadosamente antes de aceptar.</p>
      </div>
      <form class="modal__form" [formGroup]="loteForm" (ngSubmit)="onSubmit()">
        <div class="form__item">
          <label class="form__label" for="batchName">Nombre del Lote</label>
          <input class="form__input" type="text" id="batchName" formControlName="batchName" autocomplete="off" required>
        </div>
        <div class="form__item">
          <label class="form__label" for="responsible">Responsable</label>
          <input class="form__input" type="text" id="responsible" formControlName="responsible" autocomplete="off" required>
        </div>
        <div class="form__item">
          <label class="form__label" for="mainVariety">Variedad Principal</label>
          <select class="form__input input--select" id="mainVariety" formControlName="mainVariety" required>
            <option value="Hartón">Hartón</option>
            <option value="Dominico">Dominico</option>
            <option value="Dominico Hartón">Dominico Hartón</option>
          </select>
        </div>
        <button class="button button--success" type="submit" [disabled]="!loteForm.valid">
          <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="getCreateBatchIcon().viewBox">
            <path [attr.d]="getCreateBatchIcon().path"/>
          </svg>
          <span class="button__text">{{ getCreateBatchButtonMessage() }}</span>
        </button>
      </form>
    </div>  
  </div>
</div>
<app-notification *ngIf="showDialog" [message]="message" [positiveNotification]="positiveNotification" (closeNotification)="closeNotification()"></app-notification>
