<section>
  <div class="historial">
    <div class="tarjetahistorial" *ngFor="let item of historial">
      <a href="javascript:void(0);" (click)="mostrarHistorial(item)">
        <h2>{{ getMonthName(item.Month) }} {{ item.Year }}</h2>
        <div class="imagen">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQinYs6MdyYKOVgilhkNrD6TFD1TnMhdNO7GA&usqp=CAU" alt="imagen de platano">
        </div>
        <ul>
          <li>{{ item.numBunches }} racimos</li>
        </ul>
      </a>
    </div>
  </div>
</section>

<app-modal-historial [historialVisible]="historialVisible" [detallesHistorial]="detallesHistorial" (cerrarHistorial)="cerrarHistorial()"></app-modal-historial>