<div class="aviso">
    <div class="info" *ngIf="cinta.length > 0">
        <h3>Nuevo</h3>
        <span *ngIf="expirationDate != undefined">{{ getDaysRemaining() }}</span>
    </div>
    <div class="info" *ngIf="cinta.length > 0">
        <h3>Lote</h3>
        <span *ngIf="cinta[0]?.batchName">{{ cinta[0]?.batchName }}</span>
    </div>
    <div class="info" *ngIf="cinta.length > 0">
        <h3>Racimos</h3>
        <span *ngIf="cinta[0]?.numBunches">{{ cinta[0]?.numBunches }}</span>
    </div>
</div>
