<div class="aviso">
    <div class="info" *ngIf="selectedTape">
      <h3>Nuevo</h3>
      <span *ngIf="expirationDate != undefined">{{ getDaysRemaining() }} días</span>
    </div>
    <div class="info" *ngIf="selectedTape">
      <h3>Lote</h3>
      <span *ngIf="selectedTape.batchName">{{ selectedTape.batchName }}</span>
    </div>
    <div class="info" *ngIf="selectedTape">
      <h3>Racimos</h3>
      <span *ngIf="selectedTape.numBunches">{{ selectedTape.numBunches }}</span>
    </div>
  </div>
  