<div class="alert">
  <div class="alert__item" *ngIf="selectedTape">
    <h3 class="alert__title">Nuevo</h3>
    <p class="alert__text" *ngIf="expirationDate != undefined">{{ getDaysRemaining() }} días</p>
  </div>
  <div class="alert__item" *ngIf="selectedTape">
    <h3 class="alert__title">Lote</h3>
    <p class="alert__text" *ngIf="selectedTape.batchName">{{ selectedTape.batchName }}</p>
  </div>
  <div class="alert__item" *ngIf="selectedTape">
    <h3 class="alert__title">Racimos</h3>
    <p class="alert__text" *ngIf="selectedTape.numBunches">{{ selectedTape.numBunches }}</p>
  </div>
</div>