button {
  border-radius: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header__icon {
  width: 1rem;
  margin-right: 0.5rem;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  text-transform: capitalize;
}

.inline {
  display: inline;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  margin-right: 10px;
  text-transform: capitalize;
}

.item--name {
  gap: 15px;
  display: flex;
}

.form__input {
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  align-items: center;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  justify-content: center;
}

.button:disabled {
  background-color: #e9ecef;
  color: #6c757d;
}

.button--success {
  margin-top: 1.5rem;
  background-color: #2e7d32;
  color: #ffffff;
}

.button--cancel {
  width: 7rem;
  background-color: #e9ecef;
  color: #333;
  transition: transform 0.3s;
}

.button--cancel:hover {
  transform: scale(1.1);
}

.error {
  text-align: center;
  color: red;
}

.required::after {
  content: " *";
  color: red;
}

.form {
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.form__section {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px lightgray;
  border-radius: 15px;
  padding: 15px;
  justify-content: space-between;
  gap: 40px;
}

.section__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.mr {
  margin-right: 15px;
}

.mb {
  margin-bottom: 40px;
}

.col-2 {
  width: 100px;
}

.col-3 {
  width: 150px;
}

.col-4 {
  width: 200px;
}

.rolesSelect {
  display: flex;
  justify-content: space-around;
}

.section__photo {
  width: 20%;
}

.photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.icon__photo {
  width: 4rem;
}

.section__documents {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.documents {
  display: flex;
  gap: 50px;
}

.document {
  display: flex;
  flex-direction: column;
}

.doc {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.icon__doc {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.success {
  text-align: center;
  color: green;
}