<div *ngIf="!searchFlag && !searchValidator">
  <div class="header">
    <h1 class="title">registro de nuevo usuario</h1>
  </div>

  <form class="modal__form" [formGroup]="infoUser" (ngSubmit)="onSubmitUser()">
    <div class="form__item mb">
      <label for="docType">tipo de documento</label>
      <select class="form__input select" name="docType" id="docType" formControlName="docType" required>
        <option *ngFor="let item of docTypeselect" [value]="item.id">{{ item.name }}</option>
      </select>
    </div>
    <div class="form__item mb">
      <label for="docNumber">n° de identificación</label>
      <input class="form__input" type="number" id="docNumber" formControlName="docNumber" placeholder="Digite el número" required>
    </div>

    <button class="button button--success" type="submit" [disabled]="infoUser.invalid">
      <span class="button__text">Buscar</span>
    </button>
  </form>
</div>

<!-- Registrar nuevo usuario -->
<div *ngIf="searchFlag">
  <div class="header">
    <div>
      <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
      </svg>
      <span><h2 class="title inline">agregar nuevo usuario a asopracir</h2></span>
    </div>
    <button class="button button--cancel" (click)="cerrarTodo()">regresar</button>
  </div>

  <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit(1)">
    <div>
      <div class="section__header">
        <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
        </svg>
        <span><h3 class="subtitle inline">datos personales del usuario</h3></span>
      </div>
      <div class="form__section">
        <div class="section__item">
          <label class="required" for="name">Nombre completo</label>
          <div class="item--name">
            <input class="form__input col-4" type="text" id="name" formControlName="name" required>
            <input class="form__input col-2" type="text" id="firstLastname" formControlName="firstLastname" placeholder="1er apellido" required>
            <input class="form__input col-2" type="text" id="secondLastname" formControlName="secondLastname" placeholder="2do apellido">
          </div>
        </div>
        <div class="section__item">
          <label class="required" for="docType">Tipo de documento</label>
          <select class="form__input select col-4" name="docType" id="docType" formControlName="docType" required>
            <option *ngFor="let item of docTypeselect" [value]="item.id">{{ item.name }}</option>
          </select>
        </div>
        <div class="section__item">
          <label class="required" for="docNumber">N° de Identificación</label>
          <input class="form__input col-3" type="number" id="docNumber" formControlName="docNumber" required>
        </div>
        <div class="section__item">
          <label for="docIssueDate">Fecha de Expedición</label>
          <input class="form__input col-3" type="date" id="docIssueDate" formControlName="docIssueDate">
        </div>
        <div class="section__item">
          <label for="docIssuePlace">Lugar de Expedición</label>
          <input class="form__input col-4" type="text" id="docIssuePlace" formControlName="docIssuePlace">
        </div>
        <div class="section__item">
          <label for="birthday">Fecha de Nacimiento</label>
          <input class="form__input col-3" type="date" id="birthday" formControlName="birthday">
        </div>
        <div class="section__item">
          <label for="address">Dirección</label>
          <input class="form__input col-4" type="text" id="address" formControlName="address">
        </div>
        <div class="section__item">
          <label for="city">Ciudad</label>
          <input class="form__input col-4" type="text" id="city" formControlName="city">
        </div>
        <div class="section__item">
          <label class="required" for="phoneNumber">Teléfono/Celular</label>
          <input class="form__input col-3" type="number" id="phoneNumber" formControlName="phoneNumber">
        </div>
        <div class="section__item">
          <label for="altPhoneNumber">Teléfono Alterno</label>
          <input class="form__input col-3" type="number" id="altPhoneNumber" formControlName="altPhoneNumber">
        </div>
        <div class="section__item">
          <label for="email">Correo Electrónico</label>
          <input class="form__input col-4" type="email" id="email" formControlName="email">
        </div>
        <div class="section__item">
          <label for="bankAccountBName">Nombre del Banco</label>
          <input class="form__input col-3" type="text" id="bankAccountBName" formControlName="bankAccountBName">
        </div>
        <div class="section__item">
          <label for="bankAccountType">Tipo de Cuenta</label>
          <select class="form__input select col-3" name="bankAccountType" id="bankAccountType" formControlName="bankAccountType">
            <option *ngFor="let item of bankAccountTypeselect" [value]="item.id">{{ item.name }}</option>
          </select>
        </div>
        <div class="section__item">
          <label for="bankAccountNumber">Número de Cuenta</label>
          <input class="form__input col-4" type="number" id="bankAccountNumber" formControlName="bankAccountNumber">
        </div>
      </div>
    </div>

    <div class="section__header">
      <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M128 40c0-22.1 17.9-40 40-40s40 17.9 40 40V188.2c8.5-7.6 19.7-12.2 32-12.2c20.6 0 38.2 13 45 31.2c8.8-9.3 21.2-15.2 35-15.2c25.3 0 46 19.5 47.9 44.3c8.5-7.7 19.8-12.3 32.1-12.3c26.5 0 48 21.5 48 48v48 16 48c0 70.7-57.3 128-128 128l-16 0H240l-.1 0h-5.2c-5 0-9.9-.3-14.7-1c-55.3-5.6-106.2-34-140-79L8 336c-13.3-17.7-9.7-42.7 8-56s42.7-9.7 56 8l56 74.7V40zM240 304c0-8.8-7.2-16-16-16s-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304zm48-16c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304c0-8.8-7.2-16-16-16zm80 16c0-8.8-7.2-16-16-16s-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304z"/>
      </svg>
      <span class="mr"><h3 class="subtitle inline">Tipo de usuario a registrar</h3></span>
      <select class="form__input select" name="select" id="userType" (change)="onSelectUserType($event)">
        <option value="0">Agricultor</option>
        <option value="1">Administrador</option>
        <option value="2">Logística</option>
        <option value="3">Transportador</option>
      </select>
    </div>
    
    <div>
      <div class="section__header">
        <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="getHeaderIcon().viewBox">
          <path [attr.d]="getHeaderIcon().path"/>
        </svg>
        <span><h3 class="subtitle inline">{{ getHeader() }}</h3></span>
      </div>
      <!-- Crear Agricultor -->
      <ng-container *ngIf="farmerRegister">
        <div class="form__section">
          <div class="section__item">
            <label class="required" for="farmName">nombre del predio</label>
            <input class="form__input" type="text" id="farmName" formControlName="farmName">
          </div>
          <div class="section__item">
            <label class="required" for="zoneName">vereda</label>
            <input class="form__input" type="text" id="zoneName" formControlName="zoneName">
          </div>
          <div class="section__item">
            <label class="required" for="cityFarm">Ciudad</label>
            <input class="form__input" type="text" id="cityFarm" formControlName="cityFarm">
          </div>
          <div class="section__item">
            <label class="required" for="area">hectareas (ha)</label>
            <input class="form__input" type="text" id="area" formControlName="area">
          </div>
          <div class="section__item">
            <label for="GPSposition">posición GPS</label>
            <input class="form__input" type="text" id="GPSposition" formControlName="GPSposition">
          </div>       
        </div>
  
        <!-- <div class="section__header">
          <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="getHeaderIcon().viewBox">
            <path [attr.d]="getHeaderIcon().path"/>
          </svg>
          <span><h3 class="subtitle inline">carga de archivos</h3></span>
        </div>
        <div class="form__section">
          <div class="section__item">
            <label for="fileOwnerCertificate">certificado de propiedad</label>
            <input class="form__input" type="file" id="fileOwnerCertificate" formControlName="fileOwnerCertificate">
          </div> 
        </div> -->
      </ng-container>
        
      <!-- Crear Transportador -->
      <ng-container *ngIf="transporterRegister">
        <div class="form__section">
          <div class="section__item">
            <label class="required" for="licenseType">Tipo de Licencia</label>
            <input class="form__input" type="text" id="licenseType" formControlName="licenseType">
          </div>
          <div class="section__item">
            <label class="required" for="licenseExpiration">fecha de expiración</label>
            <input class="form__input" type="date" id="licenseExpiration" formControlName="licenseExpiration">
          </div> 
        </div>
    
        <div class="section__header">
          <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
          </svg>
          <span><h3 class="subtitle inline">información del vehiculo</h3></span>
        </div>
        <div class="form__section">
          <div class="section__item">
            <label class="required" for="plate">placa</label>
            <input class="form__input" type="text" id="plate" formControlName="plate">
            <span style="color: red;" *ngIf="activPlate">El vehículo existentes</span>
          </div>
          <div class="section__item">
            <label class="required" for="soatExpiration">vencimiento de SOAT</label>
            <input class="form__input" type="date" id="soatExpiration" formControlName="soatExpiration">
          </div>
          <div class="section__item">
            <label class="required" for="techExpiration">vencimiento de revisión técnico-mecánica</label>
            <input class="form__input" type="date" id="techExpiration" formControlName="techExpiration">
          </div>
          <div class="section__item">
              <label class="required" for="type">tipo</label>
              <select class="form__input select" name="docType" id="type" formControlName="type">
                <option *ngFor="let item of typeSelect" [value]="item.id">{{ item.name }}</option>
              </select>
          </div>
          <div class="section__item">
              <label class="required" for="state">estado</label>
              <select class="form__input select" name="docType" id="state" formControlName="state">
                <option *ngFor="let item of stateSelect" [value]="item.id">{{ item.name }}</option>
              </select>
          </div>
          <div class="section__item">
            <label class="required" for="capacity">capacidad (T)</label>
            <input class="form__input" type="number" id="capacity" formControlName="capacity">
          </div>
          <div class="section__item">
            <label for="comments">comentarios</label>
            <textarea rows="2" id="comments" formControlName="comments"></textarea>
          </div>
        </div>
      </ng-container>
      
      <!-- Crear Colaborador -->
      <div class="form__section" *ngIf="collaboratorRegister">
        <p>Escribir "Logística" para registrarlo como Logística</p>
        <div class="section__item">
          <label class="required" for="roleNameCollab">Ecribir Logística</label>
          <input class="form__input" type="text" id="roleNameCollab" formControlName="roleNameCollab">
        </div>     
      </div>
      
      <!-- Crear Administrador -->
      <div class="form__section" *ngIf="assocRegister">
        <p>Escribir "Admin" para registrarlo como Administrador</p>
        <div class="section__item">
          <label class="required" for="roleNameAssoc">Escribir Admin</label>
          <input class="form__input" type="text" id="roleNameAssoc" formControlName="roleNameAssoc">
        </div>     
      </div>
    </div>

    <!-- Verificar la existencia del vehículo por medio de la placa con "activPlate" -->
    <button class="button button--success" type="submit" *ngIf="!activPlate" [disabled]=" 
      !(areRequiredFieldsValid()) ||
      (farmerRegister && !areAgricultorFieldsValid()) || 
      (assocRegister && !areAssocFieldsValid()) ||
      (collaboratorRegister && !areCollabFieldsValid()) || 
      (transporterRegister && !areTransporterFieldsValid())">
      <div *ngIf="farmerRegister">Crear Agricultor</div>
      <div *ngIf="assocRegister">Crear Administrador</div>
      <div *ngIf="transporterRegister">Crear Transportador</div>
      <div *ngIf="collaboratorRegister">Crear Logística</div>
    </button>
    
  </form>
</div>

<!-- Asignar mas roles-->
<div *ngIf="searchValidator">
  <div class="header">
    <div>
      <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
      </svg>
      <span><h2 class="title inline">usuario ya registrado</h2></span>
    </div>
    <button class="button button--cancel" (click)="cerrarTodo()">regresar</button>
  </div>

  <div class="form">
    <!-- datos personales -->
    <div>
      <div class="section__header">
        <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
        </svg>
        <span><h3 class="subtitle inline">datos personales</h3></span>
      </div>
      <div class="form__section">
        <div class="section__item">
          <label for="nameReg">Nombres</label>
          <div class="item--name">
            <input class="form__input col-4" type="text" id="nameReg"  [value]="userData.names || 'por definir'" disabled>
            <input class="form__input col-2" type text id="firstLastnameReg" [value]="userData.firstLastname" disabled>
            <input class="form__input col-2" type="text" id="secondLastnameReg"  [value]="userData.secondLastname" disabled>
          </div>
        </div>
        <div class="section__item">
          <label for="docTypeReg">Tipo de documento</label>
          <select class="form__input select col-4" name="docTypeReg" id="docTypeReg"  [value]="userData.docType" disabled>
            <option *ngFor="let item of docTypeselect" [value]="item.id">{{ item.name }}</option>
          </select>
        </div>
        <div class="section__item">
          <label for="docNumberReg">N° de Identificación</label>
          <input class="form__input col-3" type="number" id="docNumberReg"  [value]="userData.docNumber" disabled required>
        </div>
      </div>
    </div>
    <!-- cargar archivos -->
    <div>
      <div class="section__header">
        <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
        </svg>
        <span><h3 class="subtitle inline">Cargar archivos</h3></span>
      </div>
      <div class="form__section">
        <div class="section_photo">
          <div class="photo" (click)="fileInput.click()">
            <!-- Si no hay una foto cargada, muestra el círculo con el ícono por defecto -->
            <svg class="icon__photo" *ngIf="!this.photoFilePath" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
            </svg>
            <!-- Input de carga de archivos visible -->
            <input #fileInput type="file" style="display: none" (change)="onFileSelected($event, 'user_picture')" accept="image/*">
            <!-- Si hay una foto cargada, muestra la imagen dentro del círculo -->
            <img *ngIf="photoFilePath" [src]="'http://localhost/uqplatanos/' + photoFilePath" alt="Foto del usuario">
          </div>
          <div *ngIf="uploadStatus['user_picture']" [class.success]="uploadStatus['user_picture'].startsWith('Cargado')" [class.error]="uploadStatus['user_picture'].startsWith('Error')">
            {{ uploadStatus['user_picture'] }}
          </div>
        </div>        
    
        <div class="section__documents">
          <div class="documents">
            <div class="document">
              <label for="user_document">Documento de identidad</label>
              <div class="doc" (click)="user_document.click()">
                <svg class="icon__doc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
              </div>
              <input #user_document type="file" style="display: none" (change)="onFileSelected($event, 'user_document')" accept=".pdf,.doc,.docx">
              <div *ngIf="uploadStatus['user_document']" [class.success]="uploadStatus['user_document'].startsWith('Cargado')" [class.error]="uploadStatus['user_document'].startsWith('Error')">
                {{ uploadStatus['user_document'] }}
              </div>
            </div>
            <div class="document">
              <label for="user_rut">Registro Unico Tributario (RUT)</label>
              <div class="doc" (click)="user_rut.click()">
                <svg class="icon__doc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
              </div>
              <input #user_rut type="file" style="display: none" (change)="onFileSelected($event, 'user_rut')" accept=".pdf,.doc,.docx">
              <div *ngIf="uploadStatus['user_rut']" [class.success]="uploadStatus['user_rut'].startsWith('Cargado')" [class.error]="uploadStatus['user_rut'].startsWith('Error')">
                {{ uploadStatus['user_rut'] }}
              </div>
            </div>
          </div>          
    
          <!-- documents farmer -->
          <div class="documents" *ngIf="this.userFarmer">
            <div class="document">
              <label for="doc_user">Certificado del dueño de la finca</label>
              <div class="doc" (click)="rut_user.click()">
                <svg class="icon__doc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
              </div>
              <input #rut_user type="file" style="display: none" (change)="onFileSelected($event, 'farm_ownercertificate')" accept=".pdf,.doc,.docx">
              <div *ngIf="uploadStatus['farm_ownercertificate']" [class.success]="uploadStatus['farm_ownercertificate'].startsWith('Cargado')" [class.error]="uploadStatus['farm_ownercertificate'].startsWith('Error')">
                {{ uploadStatus['farm_ownercertificate'] }}
              </div>
            </div>
          </div>
    
          <!-- documents transporter -->
          <div class="documents" *ngIf="userTransporter">
            <div>
              <select class="form__input select" name="select" (change)="onSelectVehicle($event)">
                <option value="" disabled selected>Seleccione un vehículo</option>
                <option *ngFor="let item of plate" [value]="item.vehID">{{ item.plate }}</option>
              </select>
            </div>
            <div class="document">
              <label for="transport_license">Licencia de transporte</label>
              <div class="doc" (click)="transport_license.click()">
                <svg class="icon__doc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
              </div>
              <input #transport_license type="file" style="display: none" (change)="onFileSelected($event, 'transporter_license')" accept=".pdf,.doc,.docx">
              <div *ngIf="uploadStatus['transporter_license']" [class.success]="uploadStatus['transporter_license'].startsWith('Cargado')" [class.error]="uploadStatus['transporter_license'].startsWith('Error')">
                {{ uploadStatus['transporter_license'] }}
              </div>
            </div>
            <div class="document">
              <label for="vehicle_runt">Registro Único Nacional de Tránsito (RUNT)</label>
              <div class="doc" (click)="vehicle_runt.click()">
                <svg class="icon__doc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
              </div>
              <input #vehicle_runt type="file" style="display: none" (change)="onFileSelected($event, 'vehicle_runt')" accept=".pdf,.doc,.docx">
              <div *ngIf="uploadStatus['vehicle_runt']" [class.success]="uploadStatus['vehicle_runt'].startsWith('Cargado')" [class.error]="uploadStatus['vehicle_runt'].startsWith('Error')">
                {{ uploadStatus['vehicle_runt'] }}
              </div>
            </div>
            <div class="document">
              <label for="vehicle_soat">Seguro obligatorio automovilístico (SOAT)</label>
              <div class="doc" (click)="vehicle_soat.click()">
                <svg class="icon__doc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
              </div>
              <input #vehicle_soat type="file" style="display: none" (change)="onFileSelected($event, 'vehicle_soat')" accept=".pdf,.doc,.docx">
              <div *ngIf="uploadStatus['vehicle_soat']" [class.success]="uploadStatus['vehicle_soat'].startsWith('Cargado')" [class.error]="uploadStatus['vehicle_soat'].startsWith('Error')">
                {{ uploadStatus['vehicle_soat'] }}
              </div>
            </div>
            <div class="document">
              <label for="vehicle_techrev">Revisión técnico-mecánica del vehículo</label>
              <div class="doc" (click)="vehicle_techrev.click()">
                <svg class="icon__doc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
              </div>
              <input #vehicle_techrev type="file" style="display: none" (change)="onFileSelected($event, 'vehicle_techrev')" accept=".pdf,.doc,.docx">
              <div *ngIf="uploadStatus['vehicle_techrev']" [class.success]="uploadStatus['vehicle_techrev'].startsWith('Cargado')" [class.error]="uploadStatus['vehicle_techrev'].startsWith('Error')">
                {{ uploadStatus['vehicle_techrev'] }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- roles asociados al usuario -->
    <div>
      <div class="section__header">
        <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
        </svg>
        <span><h3 class="subtitle inline">Roles asociados al usuario</h3></span>
      </div>
      <div class="section__item">
        <ng-container *ngIf="!userFarmer && !userAssoc && !userCollaborator && !userTransporter; else rolesSelect">
          <p>Aun no cuenta con un rol asignado</p>
        </ng-container>
        <ng-template #rolesSelect>
          <input class="form__input" type="text" value="Agricultor" *ngIf="userFarmer" disabled>
          <input class="form__input" type="text" value="Asociado" *ngIf="userAssoc" disabled>
          <input class="form__input" type="text" value="Colaborador" *ngIf="userCollaborator" disabled>
          <input class="form__input" type="text" value="Transportador" *ngIf="userTransporter" disabled>
        </ng-template>
      </div>
    </div>
    <!-- posibles roles por agregar -->
    <div>
      <div class="section__header">
        <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
        </svg>
        <span><h3 class="subtitle inline">posibles roles por agregar</h3></span>
      </div>
      <div class="form__section">
        <div class="rolesSelect">
          <button class="button button--success" *ngIf="!userFarmer" (click)="rolesAdd('0')">Agricultor</button>
          <button class="button button--success" *ngIf="!userAssoc" (click)="rolesAdd('1')">Administrador</button>
          <button class="button button--success" *ngIf="!userCollaborator" (click)="rolesAdd('2')">Logística</button>
          <button class="button button--success" *ngIf="!userTransporter" (click)="rolesAdd('3')">Transportador</button>        
        </div>
      </div>
    </div>
    <!-- Agregar nuevos roles a usuarios existentes -->
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(2)"> 
      <!-- Crear Agricultor -->
      <div class="form__section" *ngIf="farmerRegister">
        <div class="section__item">
          <label class="required" for="farmName">nombre del predio</label>
          <input class="form__input" type="text" id="farmName" formControlName="farmName">
        </div>
        <div class="section__item">
          <label class="required" for="zoneName">vereda</label>
          <input class="form__input" type="text" id="zoneName" formControlName="zoneName">
        </div>
        <div class="section__item">
          <label class="required" for="cityFarm">Ciudad</label>
          <input class="form__input" type="text" id="cityFarm" formControlName="cityFarm">
        </div>
        <div class="section__item">
          <label class="required" for="area">hectareas (ha)</label>
          <input class="form__input" type="text" id="area" formControlName="area">
        </div>
        <div class="section__item">
          <label for="GPSposition">posición GPS</label>
          <input class="form__input" type="text" id="GPSposition" formControlName="GPSposition">
        </div>
        <!-- <div class="section__item">
          <label for="fileOwnerCertificate">certificado de propiedad</label>
          <input class="form__input" type="file" id="fileOwnerCertificate" formControlName="fileOwnerCertificate">
        </div>         -->
      </div>  
  
      <!-- Crear Transportador -->
      <div class="form__section" *ngIf="transporterRegister">
        <div class="section__item">
          <label class="required" for="licenseType">Tipo de Licencia</label>
          <input class="form__input" type="text" id="licenseType" formControlName="licenseType">
        </div>    
        <div class="section__item">
          <label class="required" for="licenseExpiration">fecha de expiración</label>
          <input class="form__input" type="date" id="licenseExpiration" formControlName="licenseExpiration">
        </div>
        <div class="section__item">
          <label class="required" for="plate">placa</label>
          <input class="form__input" type="text" id="plate" formControlName="plate">
        </div>
        <div class="section__item">
          <label class="required" for="soatExpiration">vencimiento de SOAT</label>
          <input class="form__input" type="date" id="soatExpiration" formControlName="soatExpiration">
        </div>
        <div class="section__item">
          <label class="required" for="techExpiration">vencimiento de revisión técnico-mecánica</label>
          <input class="form__input" type="date" id="techExpiration" formControlName="techExpiration">
        </div>
        <div class="section__item">
            <label class="required" for="type">tipo</label>
            <select class="form__input select" name="docType" id="type" formControlName="type">
              <option *ngFor="let item of typeSelect" [value]="item.id">{{ item.name }}</option>
            </select>
        </div>
        <div class="section__item">
            <label class="required" for="state">estado</label>
            <select class="form__input select" name="docType" id="state" formControlName="state">
              <option *ngFor="let item of stateSelect" [value]="item.id">{{ item.name }}</option>
            </select>
        </div>
        <div class="section__item">
          <label class="required" for="capacity">capacidad (T)</label>
          <input class="form__input" type="number" id="capacity" formControlName="capacity">
        </div>
        <div class="section__item">
          <label for="comments">comentarios</label>
          <textarea rows="2" id="comments" formControlName="comments"></textarea>
        </div>
      </div>
  
      <!-- Crear Logística -->
      <div class="form__section" *ngIf="collaboratorRegister">
        <p>Escribir "Logística" para registrarlo como Logística</p>
        <div class="section__item">
          <label class="required" for="roleNameCollab">Escribir Logística</label>
          <input class="form__input" type="text" id="roleNameCollab" formControlName="roleNameCollab">
        </div>     
      </div>
  
      <!-- Crear Administrador -->
      <div class="form__section" *ngIf="assocRegister">
        <p>Escribir "Admin" para registrarlo como Administrador</p>
        <div class="section__item">
          <label class="required" for="roleNameAssoc">Escribir Admin</label>
          <input class="form__input" type="text" id="roleNameAssoc" formControlName="roleNameAssoc">
        </div>     
      </div>
      
      <button type="submit" class="button button--success" [disabled]=" 
        (farmerRegister && !areAgricultorFieldsValid()) || 
        (assocRegister && !areAssocFieldsValid()) ||
        (collaboratorRegister && !areCollabFieldsValid()) || 
        (transporterRegister && !areTransporterFieldsValid())"
        *ngIf="farmerRegister || collaboratorRegister || transporterRegister || assocRegister">
        <div *ngIf="farmerRegister">Crear Agricultor</div>
        <div *ngIf="transporterRegister">Crear Transportador</div>
        <div *ngIf="collaboratorRegister">Crear Logística</div>
        <div *ngIf="assocRegister">Crear Administrador</div>
      </button>
    </form>
  </div>
</div>
<app-notification *ngIf="showDialog" 
[message]="message" 
[positiveNotification]="positiveNotification" 
(closeNotification)="closeNotification()">
</app-notification>