<div *ngIf="!searchFlag && !searchValidator">
  <div class="header">
    <h1 class="title">registro de nuevo usuario</h1>
  </div>

  <form class="modal__form" [formGroup]="infoUser" (ngSubmit)="onSubmitUser()">
    <div class="form__item mb">
      <label for="docType">tipo de documento</label>
      <select class="form__input select" name="docType" id="docType" formControlName="docType" required>
        <option *ngFor="let item of docTypeselect" [value]="item.id">{{ item.name }}</option>
      </select>
    </div>
    <div class="form__item mb">
      <label for="docNumber">n° de identificación</label>
      <input class="form__input" type="number" id="docNumber" formControlName="docNumber" placeholder="Digite el número" required>
    </div>

    <button class="button button--success" type="submit" [disabled]="infoUser.invalid">
      <span class="button__text">Buscar</span>
    </button>
  </form>
</div>

<!-- <span class="error" *ngIf="searchValidator"><p>Este usuario ya ha sido registrado</p></span> -->

<!-- Registrar nuevo usuario -->
<div *ngIf="searchFlag">
  <div class="header">
    <div>
      <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
      </svg>
      <span><h2 class="title inline">agregar nuevo usuario a asopracir</h2></span>
    </div>
    <button class="button button--cancel" (click)="cerrarTodo()">Cancelar</button>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="section__header">
      <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
      </svg>
      <span><h3 class="subtitle inline">datos personales del usuario</h3></span>
    </div>

    <div class="form__section">
      <div class="section__item">
        <label class="required" for="name">Nombres</label>
        <input class="form__input col-3" type="text" id="name" formControlName="name" required>
      </div>
      <div class="section__item">
        <label class="required" for="firstLastname">Primer Apellido</label>
        <input class="form__input" type text id="firstLastname" formControlName="firstLastname" required>
      </div>
      <div class="section__item">
        <label for="secondLastname">Segundo Apellido</label>
        <input class="form__input" type="text" id="secondLastname" formControlName="secondLastname">
      </div>
      <div class="section__item">
        <label class="required" for="docType">Tipo de documento</label>
        <select class="form__input select" name="docType" id="docType" formControlName="docType" required>
          <option *ngFor="let item of docTypeselect" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>
      <div class="section__item">
        <label class="required" for="docNumber">N° de Identificación</label>
        <input class="form__input" type="number" id="docNumber" formControlName="docNumber" required>
      </div>
      <div class="section__item">
        <label for="docIssueDate">Fecha de Expedición</label>
        <input class="form__input" type="date" id="docIssueDate" formControlName="docIssueDate">
      </div>
      <div class="section__item">
        <label for="docIssuePlace">Lugar de Expedición</label>
        <input class="form__input" type="text" id="docIssuePlace" formControlName="docIssuePlace">
      </div>
      <div class="section__item">
        <label for="birthday">Fecha de Nacimiento</label>
        <input class="form__input" type="date" id="birthday" formControlName="birthday">
      </div>
      <div class="section__item">
        <label for="address">Dirección</label>
        <input class="form__input" type="text" id="address" formControlName="address">
      </div>
      <div class="section__item">
        <label for="city">Ciudad</label>
        <input class="form__input" type="text" id="city" formControlName="city">
      </div>
      <div class="section__item">
        <label class="required" for="phoneNumber">Teléfono/Celular</label>
        <input class="form__input" type="number" id="phoneNumber" formControlName="phoneNumber" required>
      </div>
      <div class="section__item">
        <label for="altPhoneNumber">Teléfono Alterno</label>
        <input class="form__input" type="number" id="altPhoneNumber" formControlName="altPhoneNumber">
      </div>
      <div class="section__item">
        <label for="email">Correo Electrónico</label>
        <input class="form__input" type="email" id="email" formControlName="email">
      </div>
      <div class="section__item">
        <label for="bankAccountBName">Nombre del Banco</label>
        <input class="form__input" type="text" id="bankAccountBName" formControlName="bankAccountBName">
      </div>
      <div class="section__item">
        <label for="bankAccountType">Tipo de Cuenta</label>
        <select class="form__input select" name="bankAccountType" id="bankAccountType" formControlName="bankAccountType">
          <option *ngFor="let item of bankAccountTypeselect" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>
      <div class="section__item">
        <label for="bankAccountNumber">Número de Cuenta</label>
        <input class="form__input" type="number" id="bankAccountNumber" formControlName="bankAccountNumber">
      </div>
    </div>

    <div class="section__header mb">
      <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M128 40c0-22.1 17.9-40 40-40s40 17.9 40 40V188.2c8.5-7.6 19.7-12.2 32-12.2c20.6 0 38.2 13 45 31.2c8.8-9.3 21.2-15.2 35-15.2c25.3 0 46 19.5 47.9 44.3c8.5-7.7 19.8-12.3 32.1-12.3c26.5 0 48 21.5 48 48v48 16 48c0 70.7-57.3 128-128 128l-16 0H240l-.1 0h-5.2c-5 0-9.9-.3-14.7-1c-55.3-5.6-106.2-34-140-79L8 336c-13.3-17.7-9.7-42.7 8-56s42.7-9.7 56 8l56 74.7V40zM240 304c0-8.8-7.2-16-16-16s-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304zm48-16c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304c0-8.8-7.2-16-16-16zm80 16c0-8.8-7.2-16-16-16s-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304z"/>
      </svg>
      <span class="mr"><h3 class="subtitle inline">Tipo de usuario a registrar</h3></span>
      <select class="form__input select" name="select" id="userType" (change)="onSelectUserType($event)">
        <option value="0">Agricultor</option>
        <option value="1">Asociado</option>
        <option value="2">Colaborador</option>
        <option value="3">Transportador</option>
      </select>
    </div>
    
    <div class="section__header">
      <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="getHeaderIcon().viewBox">
        <path [attr.d]="getHeaderIcon().path"/>
      </svg>
      <span><h3 class="subtitle inline">{{ getHeader() }}</h3></span>
    </div>

    <!-- Crear Agricultor -->
    <div class="form__section" *ngIf="farmerRegister">
      <div class="section__item">
        <label class="required" for="farmName">nombre del predio</label>
        <input class="form__input" type="text" id="farmName" formControlName="farmName">
      </div>
      <div class="section__item">
        <label class="required" for="zoneName">vereda</label>
        <input class="form__input" type="text" id="zoneName" formControlName="zoneName">
      </div>
      <div class="section__item">
        <label class="required" for="cityFarm">Ciudad</label>
        <input class="form__input" type="text" id="cityFarm" formControlName="cityFarm">
      </div>
      <div class="section__item">
        <label class="required" for="area">hectareas (ha)</label>
        <input class="form__input" type="text" id="area" formControlName="area">
      </div>
      <div class="section__item">
        <label for="GPSposition">posición GPS</label>
        <input class="form__input" type="text" id="GPSposition" formControlName="GPSposition">
      </div>
      <div class="section__item">
        <label for="fileOwnerCertificate">certificado de propiedad</label>
        <input class="form__input" type="file" id="fileOwnerCertificate" formControlName="fileOwnerCertificate">
      </div>        
    </div>

    <!-- Crear Transportador -->
    <div class="form__section" *ngIf="transporterRegister">
      <div class="section__item">
        <label class="required" for="licenseType">Tipo de Licencia</label>
        <input class="form__input" type="text" id="licenseType" formControlName="licenseType">
      </div>    
      <div class="section__item">
        <label class="required" for="licenseExpiration">fecha de expiración</label>
        <input class="form__input" type="date" id="licenseExpiration" formControlName="licenseExpiration">
      </div>
      <div class="section__item">
        <label class="required" for="plate">placa</label>
        <input class="form__input" type="text" id="plate" formControlName="plate">
      </div>
      <div class="section__item">
        <label class="required" for="soatExpiration">vencimiento de SOAT</label>
        <input class="form__input" type="date" id="soatExpiration" formControlName="soatExpiration">
      </div>
      <div class="section__item">
        <label class="required" for="techExpiration">vencimiento de revisión técnico-mecánica</label>
        <input class="form__input" type="date" id="techExpiration" formControlName="techExpiration">
      </div>
      <div class="section__item">
          <label class="required" for="type">tipo</label>
          <select class="form__input select" name="docType" id="type" formControlName="type">
            <option *ngFor="let item of typeSelect" [value]="item.id">{{ item.name }}</option>
          </select>
      </div>
      <div class="section__item">
          <label class="required" for="state">estado</label>
          <select class="form__input select" name="docType" id="state" formControlName="state">
            <option *ngFor="let item of stateSelect" [value]="item.id">{{ item.name }}</option>
          </select>
      </div>
      <div class="section__item">
        <label class="required" for="capacity">capacidad (T)</label>
        <input class="form__input" type="number" id="capacity" formControlName="capacity">
      </div>
      <div class="section__item">
        <label for="comments">comentarios</label>
        <textarea rows="2" id="comments" formControlName="comments"></textarea>
      </div>
    </div>
    
    <!-- Crear Colaborador -->
    <div class="form__section" *ngIf="collaboratorRegister">
      <p>Escribir "Tesorero" para registrarlo como colaborador</p>
      <div class="section__item">
        <label class="required" for="roleNameCollab">nombre colaborador</label>
        <input class="form__input" type="text" id="roleNameCollab" formControlName="roleNameCollab">
      </div>     
    </div>
    
    <!-- Crear Asociado -->
    <div class="form__section" *ngIf="assocRegister">
      <p>Escribir "Admin" para registrarlo como asociado</p>
      <div class="section__item">
        <label class="required" for="roleNameAssoc">nombre colaborador</label>
        <input class="form__input" type="text" id="roleNameAssoc" formControlName="roleNameAssoc">
      </div>     
    </div>

    <button class="button button--success" type="submit" [disabled]="!userForm.valid || 
      (farmerRegister && !areAgricultorFieldsValid()) || 
      (assocRegister && !areAssocFieldsValid()) ||
      (collaboratorRegister && !areCollabFieldsValid()) || 
      (transporterRegister && !areTransporterFieldsValid())">
      <div *ngIf="farmerRegister">Crear Agricultor</div>
      <div *ngIf="assocRegister">Crear Asociado</div>
      <div *ngIf="transporterRegister">Crear Transportador</div>
      <div *ngIf="collaboratorRegister">Crear Colaborador</div>
    </button>
    
  </form>
</div>

<!-- Asignar mas roles-->
<div *ngIf="searchValidator">
  <div class="header">
    <div>
      <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
      </svg>
      <span><h2 class="title inline">usuario ya registrado</h2></span>
    </div>
    <button class="button button--cancel" (click)="cerrarTodo()">Cancelar</button>
  </div>

  <div class="section__header">
    <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
    </svg>
    <span><h3 class="subtitle inline">Roles asociados al usuario</h3></span>
  </div>
  <div class="section__item">
    <ng-container *ngIf="!userFarmer && !userAssoc && !userCollaborator && !userTransporter; else rolesSelect">
      <p>Aun no cuenta con un rol asignado</p>
    </ng-container>
    <ng-template #rolesSelect>
      <select class="form__input select" [disabled]="userFarmer || userAssoc || userCollaborator || userTransporter">
        <option [ngValue]="'Farmer'" *ngIf="userFarmer">Agricultor</option>
        <option [ngValue]="'Assoc'" *ngIf="userAssoc">Asociado</option>
        <option [ngValue]="'Collaborator'" *ngIf="userCollaborator">Colaborador</option>
        <option [ngValue]="'Transporter'" *ngIf="userTransporter">Transportador</option>
      </select>    
    </ng-template>  
  </div>

  <div class="section__header">
    <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
    </svg>
    <span><h3 class="subtitle inline">posibles roles por agregar</h3></span>
  </div>
  <div class="form__section">
    <div class="rolesSelect">
      <button class="button button--success" *ngIf="!userFarmer" (click)="rolesAdd('0')">Agricultor</button>
      <button class="button button--success" *ngIf="!userAssoc" (click)="rolesAdd('1')">Asociado</button>
      <button class="button button--success" *ngIf="!userCollaborator" (click)="rolesAdd('2')">Colaborador</button>
      <button class="button button--success" *ngIf="!userTransporter" (click)="rolesAdd('3')">Transportador</button>        
    </div>
  </div>
  
  <!-- Agregar nuevos roles a usuarios existentes -->
  <form [formGroup]="roleAddForm" (ngSubmit)="submitRole()"> 
    <!-- Crear Agricultor -->
    <div class="form__section" *ngIf="farmerRegister">
      <div class="section__item">
        <label class="required" for="farmName">nombre del predio</label>
        <input class="form__input" type="text" id="farmName" formControlName="farmName">
      </div>
      <div class="section__item">
        <label class="required" for="zoneName">vereda</label>
        <input class="form__input" type="text" id="zoneName" formControlName="zoneName">
      </div>
      <div class="section__item">
        <label class="required" for="cityFarm">Ciudad</label>
        <input class="form__input" type="text" id="cityFarm" formControlName="cityFarm">
      </div>
      <div class="section__item">
        <label class="required" for="area">hectareas (ha)</label>
        <input class="form__input" type="text" id="area" formControlName="area">
      </div>
      <div class="section__item">
        <label for="GPSposition">posición GPS</label>
        <input class="form__input" type="text" id="GPSposition" formControlName="GPSposition">
      </div>
      <div class="section__item">
        <label for="fileOwnerCertificate">certificado de propiedad</label>
        <input class="form__input" type="file" id="fileOwnerCertificate" formControlName="fileOwnerCertificate">
      </div>        
    </div>  

    <!-- Crear Transportador -->
    <div class="form__section" *ngIf="transporterRegister">
      <div class="section__item">
        <label class="required" for="licenseType">Tipo de Licencia</label>
        <input class="form__input" type="text" id="licenseType" formControlName="licenseType">
      </div>    
      <div class="section__item">
        <label class="required" for="licenseExpiration">fecha de expiración</label>
        <input class="form__input" type="date" id="licenseExpiration" formControlName="licenseExpiration">
      </div>
      <div class="section__item">
        <label class="required" for="plate">placa</label>
        <input class="form__input" type="text" id="plate" formControlName="plate">
      </div>
      <div class="section__item">
        <label class="required" for="soatExpiration">vencimiento de SOAT</label>
        <input class="form__input" type="date" id="soatExpiration" formControlName="soatExpiration">
      </div>
      <div class="section__item">
        <label class="required" for="techExpiration">vencimiento de revisión técnico-mecánica</label>
        <input class="form__input" type="date" id="techExpiration" formControlName="techExpiration">
      </div>
      <div class="section__item">
          <label class="required" for="type">tipo</label>
          <select class="form__input select" name="docType" id="type" formControlName="type">
            <option *ngFor="let item of typeSelect" [value]="item.id">{{ item.name }}</option>
          </select>
      </div>
      <div class="section__item">
          <label class="required" for="state">estado</label>
          <select class="form__input select" name="docType" id="state" formControlName="state">
            <option *ngFor="let item of stateSelect" [value]="item.id">{{ item.name }}</option>
          </select>
      </div>
      <div class="section__item">
        <label class="required" for="capacity">capacidad (T)</label>
        <input class="form__input" type="number" id="capacity" formControlName="capacity">
      </div>
      <div class="section__item">
        <label for="comments">comentarios</label>
        <textarea rows="2" id="comments" formControlName="comments"></textarea>
      </div>
    </div>

    <!-- Crear Colaborador -->
    <div class="form__section" *ngIf="collaboratorRegister">
      <p>Escribir "Tesorero" para registrarlo como colaborador</p>
      <div class="section__item">
        <label class="required" for="roleNameCollab">nombre colaborador</label>
        <input class="form__input" type="text" id="roleNameCollab" formControlName="roleNameCollab">
      </div>     
    </div>

    <!-- Crear Asociado -->
    <div class="form__section" *ngIf="assocRegister">
      <p>Escribir "Admin" para registrarlo como asociado</p>
      <div class="section__item">
        <label class="required" for="roleNameAssoc">nombre colaborador</label>
        <input class="form__input" type="text" id="roleNameAssoc" formControlName="roleNameAssoc">
      </div>     
    </div>
    
    <button type="submit" [disabled]="roleAddForm.invalid" class="button button--success" *ngIf="farmerRegister || collaboratorRegister || transporterRegister || assocRegister">
      <div *ngIf="farmerRegister">Crear Agricultor</div>
      <div *ngIf="transporterRegister">Crear Transportador</div>
      <div *ngIf="collaboratorRegister">Crear Colaborador</div>
      <div *ngIf="assocRegister">Crear Asociado</div>
    </button>
  </form>
</div>
<app-notification *ngIf="showDialog" 
[message]="message" 
[positiveNotification]="positiveNotification" 
(closeNotification)="closeNotification()">
</app-notification>