<app-aviso [cinta]="cinta"></app-aviso>

<section>
  <div class="lotes">
    <div class="tarjeta" *ngFor="let item of lote">
      <a href="javascript:void(0);" (click)="mostrarModal(item.batchID)">
        <h2>{{ item.batchName }}</h2>
        
        <!-- Buscar la primera cinta correspondiente a este lote -->
        <ng-container *ngIf="getPrimeraCintaPorLote(item.batchID) as primeraCinta;">
          <div class="color" [style.background-color]="primeraCinta.color"></div>
          <ul>
            <li><i class="fa-solid fa-user"></i><span class="truncate-text">{{ primeraCinta.responsible || '------------' }}</span></li>
            <li><i class="fa-solid fa-caret-right"></i><span class="truncate-text">{{ primeraCinta.variety || '------------' }}</span></li>
            <li><i><img src="../../../../assets/fontawesome/platano.png"></i><span class="truncate-text">{{ primeraCinta.numBunches || '------------' }}</span></li>
            <li><i class="fa-solid fa-calendar-days"></i><span class="truncate-text">{{ primeraCinta.endDate || '------------' }}</span></li>
          </ul>
        </ng-container>
      </a>
    </div>
  </div>
</section>

<app-modal-lotes [modalVisible]="modalVisible" [cinta]="cinta" [lote]="lote" [batchID]="batchID" (editarLote)="mostrarEditarlote($event)" (cerrarModal)="cerrarModal()"></app-modal-lotes>

<div id="container-floating">
  <a class="nd3 nds" href="javascript:void(0);" (click)="mostrarCrearlote()">
    <i class="fa-solid fa-plant-wilt fa-xl reminder"></i>
    <span class="text">Nuevo lote</span>
  </a>
  
  <a class="nd1 nds" href="javascript:void(0);" (click)="mostrarCrearcinta()">
    <i class="fa-solid fa-tape fa-flip-horizontal fa-xl reminder"></i>
    <span class="text">Nueva cinta</span>
  </a>

  <a id="floating-button">
    <i class="plus fa-solid fa-plus fa-xl"></i>
    <i class="edit fa-solid fa-pen fa-xl"></i>
  </a>
</div>

<app-crear-lote (loteCreado)="View()" [crearLoteVisible]="crearLoteVisible" (cerrarCrearlote)="cerrarCrearlote()"></app-crear-lote>

<app-crear-cinta (cintaCreada)="View()" [crearCintaVisible]="crearCintaVisible" [lote]="lote" (cerrarCrearcinta)="cerrarCrearcinta()"></app-crear-cinta>

<app-editar-eliminar-lote (loteEditado)="View()" (loteEditado)="cerrarEditarlote()"  (cerrarModal)="cerrarModal()" [lote]="lote" [batchID]="batchID" [editarloteVisible]="editarloteVisible" (cerrarEditarlote)="cerrarEditarlote()"></app-editar-eliminar-lote>