<app-aviso [tapes]="tapes" [batches]="batches" *ngIf="!verificacionInfo"></app-aviso>

<section class="batches" *ngIf="!verificacionInfo">
  <div class="batch" *ngFor="let item of batches">
    <button class="batch__link" href="javascript:void(0);" (click)="modal(item.batchID)" [attr.aria-label]="'Abrir detalles del lote: ' + (item.batchName)" >
      <ng-container *ngIf="getFirstTapeByBatch(item.batchID) as tape;">
        <div class="batch__color" [style.background-color]="tape.color"></div>
        <h2 class="batch__title">{{ item.batchName }}</h2>
        <ul class="batch__info">
          <li class="batch__item">
            <i class="batch__icon fa-solid fa-user" aria-hidden="true"></i>
            <span class="batch__text">{{ tape.responsible || '------------' }}</span>
          </li>
          <li class="batch__item">
            <i class="batch__icon fa-solid fa-caret-right" aria-hidden="true"></i>
            <span class="batch__text">{{ tape.variety || '------------' }}</span>
          </li>
          <li class="batch__item">
            <i class="batch__icon" aria-hidden="true"><img src="../../../../assets/fontawesome/platano.png" alt="Icono de racimos de plátano"></i>
            <span class="batch__text">{{ tape.numBunches || '------------' }}</span>
          </li>
          <li class="batch__item">
            <i class="batch__icon fa-solid fa-calendar-days" aria-hidden="true"></i>
            <span class="batch__text">{{ tape.endDate || '------------' }}</span>
          </li>
        </ul>
      </ng-container>
    </button>
  </div>
</section>

<section *ngIf="verificacionInfo">
  <span>No hay información para mostrar</span>
</section>

<app-modal-lotes [showModal]="showModal" [tapes]="tapes" [batches]="batches" [batchID]="batchID" (closeModal)="closeModal()" (loteEditado)="View()"></app-modal-lotes>

<div class="button" [ngClass]="{'button--overlay': showMenu}" (click)="closeButton($event)">
  <button class="button__cta" (click)="toggleMenu()" aria-label="Abrir menú de opciones, crear nuevo lote y crear nueva cinta" >
    <i class="button__icon fa-solid fa-plus fa-xl"></i>
    <div class="button__options" *ngIf="showMenu">
      <button class="button__option" (click)="createBatch()" aria-label="crear nuevo lote">
        <span class="button__text">Nuevo lote</span>
        <i class="button__icon button__icon--small fa-solid fa-plant-wilt" aria-hidden="true"></i>
      </button>
      <button class="button__option" (click)="createTape()" aria-label="crear nuevo cinta">
        <span class="button__text">Nueva cinta</span>
        <i class="button__icon button__icon--small fa-solid fa-tape fa-flip-horizontal" aria-hidden="true"></i>
      </button>
    </div>
  </button>
</div>

<app-crear-lote (batchCreated)="View()" [showCreateBatch]="showCreateBatch" (closeCreateBatch)="closeCreateBatch()"></app-crear-lote>

<app-crear-cinta (tapeCreated)="View()" [showCreateTape]="showCreateTape" [lote]="batches" (closeCreateTape)="closeCreateTape()"></app-crear-cinta>