<div class="modal-wrapper" [ngClass]="{'mostrar-modal': modalVisible}">
    <div class="modal-body card">
      <div class="modal-header">
        <!-- <button (click)="editarEliminar()">Editar/Eliminar</button> -->
        <h1 class="heading">Actualizar información</h1>
        <a href="javascript:void(0);" role="button" class="close" (click)="cerrarTodo()"><i class="fa-solid fa-xmark"></i>X</a>
      </div>
      <div *ngIf="editareliminar">
        
          <h1>Eliminar Lote</h1>
        
        </div>
      <div *ngIf="!editareliminar">
        <!-- <div *ngFor="let itemLote of lote">
           <div *ngIf="batchID === itemLote.batchID"> -->
            <form class="infoTotal" [formGroup]="infoUser" (ngSubmit)="onSubmit()">
              <div class="infoUser">
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" id="name" formControlName="name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="firstLastname">Primer Apellido</label>
                  <input type text id="firstLastname" formControlName="firstLastname" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="docType">Tipo de documento</label>
                  <select name="docType" id="docType" formControlName="docType" required>
                    <option *ngFor="let item of docTypeselect" [value]="item.id">{{ item.name }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="docNumber">Numero de documento</label>
                  <input type="number" id="docNumber" formControlName="docNumber" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="secondLastname">Segundo Apellido</label>
                  <input type="text" id="secondLastname" formControlName="secondLastname" class="form-control">
                </div>
                <div class="form-group">
                  <label for="docIssueDate">Fecha de Expedición de Documento</label>
                  <input type="text" id="docIssueDate" formControlName="docIssueDate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="docIssuePlace">Lugar de Expedición de Documento</label>
                  <input type="text" id="docIssuePlace" formControlName="docIssuePlace" class="form-control">
                </div>
                <div class="form-group">
                  <label for="birthday">Fecha de Nacimiento</label>
                  <input type="text" id="birthday" formControlName="birthday" class="form-control">
                </div>
                <!-- Agrega más campos adicionales aquí si es necesario -->
                <div class="form-group">
                  <label for="address">Dirección</label>
                  <input type="text" id="address" formControlName="address" class="form-control">
                </div>
                <div class="form-group">
                  <label for="city">Ciudad</label>
                  <input type="text" id="city" formControlName="city" class="form-control">
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Número de Teléfono</label>
                  <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
                </div>
                <div class="form-group">
                  <label for="altPhoneNumber">Número de Teléfono Alternativo</label>
                  <input type="text" id="altPhoneNumber" formControlName="altPhoneNumber" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Correo Electrónico</label>
                  <input type="email" id="email" formControlName="email" class="form-control">
                </div>
                <div class="form-group">
                  <label for="bankAccountBName">Nombre del Banco</label>
                  <input type="text" id="bankAccountBName" formControlName="bankAccountBName" class="form-control">
                </div>
                <div class="form-group">
                  <label for="bankAccountType">Tipo de Cuenta Bancaria</label>
                  <select name="bankAccountType" id="bankAccountType" formControlName="bankAccountType">
                    <option *ngFor="let item of bankAccountTypeselect" [value]="item.id">{{ item.name }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="bankAccountNumber">Número de Cuenta Bancaria</label>
                  <input type="text" id="bankAccountNumber" formControlName="bankAccountNumber" class="form-control">
                </div>
              </div>



              <div class="infoFarm">
                <div class="form-group">
                  <label for="farmName">Nombre de la Granja</label>
                  <input type="text" id="farmName" formControlName="farmName" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="zoneName">Nombre de la Zona</label>
                  <input type="text" id="zoneName" formControlName="zoneName" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="cityFarm">Ciudad de la Granja</label>
                  <input type="text" id="cityFarm" formControlName="cityFarm" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="area">Área de la Granja</label>
                  <input type="text" id="area" formControlName="area" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="GPSposition">Posición GPS</label>
                  <input type="text" id="GPSposition" formControlName="GPSposition" class="form-control">
                </div>
                <div class="form-group">
                  <label for="fileOwnerCertificate">Certificado de Propiedad (Opcional)</label>
                  <input type="text" id="fileOwnerCertificate" formControlName="fileOwnerCertificate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="state">Estado de la Asociación</label>
                  <select name="state" id="state" formControlName="state" required>
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                  </select>
                </div>
                <!-- Agrega más campos adicionales aquí si es necesario -->
              </div>
              <button type="submit" [disabled]="infoUser.invalid" class="btn btn-primary" *ngIf="formChanges">Actualizar información</button>
            </form>
           <!-- </div>
         </div> -->
     
         {{ infoUser.value | json }}
     </div>
     
    </div>
  </div>