<div class="modal" [ngClass]="{'modal--show': showModalOrder}" (click)="closeDialog($event)"
  [attr.aria-hidden]="!showModalOrder"
  [attr.aria-modal]="showModalOrder? 'true' : 'false'" role="dialog" aria-labelledby="modalTitle">
  <div class="modal__card">
    <div class="modal__header">
      <h1 class="modal__heading" id="modalTitle">Detalles de la orden</h1>
      <a  class="modal__close" href="javascript:void(0);" role="button" (click)="closeModalOrder.emit()" aria-label="Cerrar modal">
        <svg class="close__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
          <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
        </svg>
      </a>
    </div>
    <div class="modal__content">
      <div class="form__item">
        <label class="form__label" for="collaborator">Colaborador</label>
        <input class="form__input input--truncated" id="collaborator" [value]="order.collaborator" disabled>
      </div>
      <div class="form__item">
        <label class="form__label" for="startDate">Fecha de la orden</label>
        <input class="form__input input--truncated" id="startDate" [value]="order.startDate" disabled>
      </div>
      <div class="form__item">
        <label class="form__label" for="estBunches">Estimación de racimos</label>
        <input class="form__input input--truncated" id="estBunches" [value]="order.estBunches" disabled>
      </div>
      <div class="form__item">
        <label class="form__label" for="numBunches">Racimos cosechados</label>
        <input class="form__input input--truncated" id="numBunches" [value]="order.numBunches" disabled>
      </div>
      <div class="form__item">
        <label class="form__label" for="pickupDate">Fecha de la cosecha</label>
        <input class="form__input input--truncated" id="pickupDate" [value]="order.pickupDate" disabled>
      </div>
      <div class="form__item">
        <label class="form__label" for="weight">Peso</label>
        <input class="form__input input--truncated" id="weight" [value]="order.weight+'kg'" disabled>
      </div>
      <div class="form__item">
        <label class="form__label" for="payAmount">Pago por la cosecha</label>
        <input class="form__input input--truncated" id="payAmount" [value]="order.payAmount | currency:'COP ':'symbol':'1.2-2'" disabled>
      </div>
      <div class="form__item">
        <label class="form__label" for="signedBy">Recibido por</label>
        <input class="form__input input--truncated" id="signedBy" [value]="order.signedBy" disabled>
      </div>
      <div class="form__item">
        <label class="form__label" for="transporter">Transportado por</label>
        <input class="form__input input--truncated" id="transporter" [value]="order.transporter" disabled>
      </div>
    </div>  
    <div class="step-progress">
      <div class="alertaProgreso" [innerHTML]="step"></div>
      <div class="progress-bar">
        <ng-container *ngFor="let step of [1,2,3,4,5,6]; let last = last">
          <div class="step" [ngClass]="{'active': step <= state, 'current': step === state}">
            <span>{{ step }}</span>
          </div>
          <div class="line" *ngIf="!last" [ngClass]="{'active': step < state, 'current': step === state - 1}">
          </div>
        </ng-container>
      </div>    
    </div>
  </div>
</div>