.container {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.title {
  text-transform: uppercase;
}

.subtitle {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.inline {
  display: inline;
}


label {
  margin-right: 10px;
  text-transform: capitalize;
}

.form__input {
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.date-container {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-right: 5px;
}

.transportador {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.card-transporter {
  border-radius: 8px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons__options {
  display: flex;
}

.card-ordenes {  
  overflow: scroll;
  gap: 20px;
  scroll-snap-type: x proximity;
  display: flex;
  flex-wrap: nowrap;
}

.card-order {
  height: 100%;
  display: flex;
  padding: 25px;
  border-radius: 8px;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 70px);
  flex: 0 0 auto;
}

.order__info {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-order p {
  margin: 5px 0;
}

.card-order p:first-child {
  font-weight: bold;
}

.container__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 85vh;
  margin: auto;
}

.icon--error {
  width: 10rem;
  fill: lightcoral;
}

.error {
  color: lightcoral;
  text-align: center;
}

.icon__collect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.vertical {
  height: auto;
  overflow: visible;
  flex-direction: column;
  width: auto;
}

.vertical .order__info {
  width: 100%;
  height: 100px;
}

.vertical .card-order {
  width: auto;
  padding: 20px;
  flex-direction: row;
  align-items: center;
}

.vertical .button {
  width: 30%;
  height: 30%;
}

.vertical .card-order:nth-last-child(1) {
  margin-bottom: 20px;
}

.vertical__header {
  justify-content: center;
  flex-direction: row-reverse;
  position: relative;
}

.vertical__header .show {
  position: absolute;
  left: 0;
}

.show {
  color: #999;
  fill: #999;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-icon {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-icon .icon {
  width: 24px;
  height: 24px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.button--success {
  margin-top: 0;
}



label {
  margin-right: 10px;
  text-transform: capitalize;
}

.section__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.form__input {
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.modal-header h2 {
  margin: 0;
}

hr {
  margin-top: 20px;
}

.modal-body {
  margin-top: 25px;
  margin-bottom: 35px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
}

.confirmation-modal .button--success {
  margin-top: 0;
  width: 7rem;
}