<div class="header">
    <h1>Transportador</h1>
    <a href="javascript:void(0);" (click)="mostrarcreateVehicle()">Crear Vehículo</a>
</div>
<div class="filter">
    <div [formGroup]="infoUser">
        <label for="state">Estado del Transportador </label>
        <select name="state" id="state" formControlName="state" required>
          <option value="active">Activo</option>
          <option value="inactive">Inactivo</option>
          <option value="all">Todos</option>
        </select>
    </div>
    <div>
        <input type="number" placeholder="Ingrese documento" [(ngModel)]="docNumberInput">
        <button (click)="docSearch()">Buscar</button>
    </div>
</div>
<button (click)="View()" *ngIf="buttonFlag">Actualizar</button>

<span *ngIf="stateFlag"><p style="color: red;">No hay usuarios para mostrar</p></span>
<table class="farm-table">
    <thead>
        <tr>
            <th>Estado</th>
            <th>Placa</th>
            <th>Propietario</th>
            <th>No. Cedula</th>
            <th>Tipo de vehiculo</th>
            <th>Capacidad (T)</th>
            <th>Celular</th>
            <th>Correo electrónico</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Transporter of Transporters">
            <td [ngClass]="{'valid-green': Transporter.valid, 'valid-red': !Transporter.valid}"></td>
            <td>{{ Transporter.plate }}</td>
            <td>{{ Transporter.names }} {{Transporter.firstLastname }}</td>
            <td>{{ Transporter.docNumber }}</td>
            <td>{{ typeSelect[Transporter.type] }}</td>
            <td>{{ Transporter.capacity }}</td>
            <td>{{ Transporter.phoneNumber }}</td>
            <td>{{ Transporter.email }}</td>
            <td>
                <a href="javascript:void(0);" (click)="mostrarModal(Transporter.docNumber,Transporter.docType,Transporter.plate)">
                    Editar
                </a>
            </td>
        </tr>
    </tbody>
</table>

<span *ngIf="searchFlag"><p>No hay usuario relacionado con ese documento, verificar el estado.</p></span>

<app-modal-transport [modalVisible]="modalVisible" (cerrarModal)="cerrarModal()" (cerrarActualizar)="View()" [modalData]="modalData"></app-modal-transport>
<app-create-vehicle [createVehicleVisible]="createVehicleVisible" (cerrarcreateVehicle)="cerrarcreateVehicleVisible()" (cerrarActualizar)="View()"></app-create-vehicle>