<div class="modal" [ngClass]="{'modal--show': manageBatch}" (click)="closeDialog($event)"
  [attr.aria-hidden]="!manageBatch"
  [attr.aria-modal]="manageBatch ? 'true' : 'false'" role="dialog" aria-labelledby="modalTitle">
  <div class="modal__card">
    <div class="modal__header">
      <h1 class="modal__heading" id="modalTitle">{{ getModalTitle() }}</h1>
      <a  class="modal__close" href="javascript:void(0);" role="button" (click)="closeManageBatch.emit()" aria-label="Cerrar modal">
        <svg class="close__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
          <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
        </svg>
      </a>
    </div>
    <div class="modal__content" *ngIf="action === 'deleteBatch'">
      <div class="modal__description">
        <p>Precaución: Eliminar este lote de tu finca significa que no podrás recuperarlo. ¿Estás seguro de que deseas proceder?</p>
      </div>
      <div class="form__item" [formGroup]="deleteBatch">
        <label class="form__label" for="eliminarInput">Escribe 'eliminar' para confirmar:</label>
        <input class="form__input" type="text" id="eliminarInput" formControlName="confirmationText" (input)="onConfirmationTextChange()" autocomplete="off" required>
      </div>
      <button class="button button--warning" (click)="removeBatch()" [disabled]="!deleteBatch.get('confirmationIsValid')?.value">
        <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="getDeleteBatchIcon().viewBox">
          <path [attr.d]="getDeleteBatchIcon().path"/>
        </svg>
        <span class="button__text">{{ getDeleteButtonMessage() }}</span>
      </button>      
    </div>
    <div class="modal__content" *ngIf="action === 'updateBatch'">
      <div class="modal__description">
        <p>Aquí puedes editar la información de tu lote. Asegúrate de revisar cuidadosamente antes de guardar los cambios</p>
      </div>
      <form class="modal__form" [formGroup]="batchForm" (ngSubmit)="onSubmit()">
        <div class="form__item">
          <label class="form__label" for="batchName">Nombre del Lote</label>
          <input class="form__input" type="text" id="batchName" formControlName="batchName" autocomplete="off" required>
        </div>
        <div class="form__item">
          <label class="form__label" for="responsible">Responsable</label>
          <input class="form__input" type="text" id="responsible" formControlName="responsible" autocomplete="off" required>
        </div>
        <div class="form__item">
          <label class="form__label" for="mainVariety">Variedad Principal</label>
          <select class="form__input input--select" id="mainVariety" formControlName="mainVariety" required>
            <option value="Hartón">Hartón</option>
            <option value="Dominico">Dominico</option>
            <option value="Dominico Hartón">Dominico Hartón</option>
          </select>
        </div>
        <button class="button button--success" type="submit" [disabled]="!isValidForm">
          <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="getEditBatchIcon().viewBox">
            <path [attr.d]="getEditBatchIcon().path"/>
          </svg>
          <span class="button__text">{{ getEditButtonMessage() }}</span>
        </button>
      </form>
    </div>
    <div class="modal__content" *ngIf="action === 'updateTape'">
      <div class="modal__description">
        <p>Aquí puedes editar la información de la cinta. Asegúrate de revisar cuidadosamente antes de guardar los cambios</p>
      </div>
      <form class="modal__form" [formGroup]="tapeForm" (ngSubmit)="onSubmit()">
        <div class="form__item">
          <label class="form__label" for="numBunches">Número de racimos</label>
          <input class="form__input" type="number" id="numBunches" formControlName="numBunches" autocomplete="off" required>
        </div>
        <div class="form__item">
          <label class="form__label" for="variety">Variedad</label>
          <select class="form__input input--select" id="variety" formControlName="variety" required>
            <option value="Hartón">Hartón</option>
            <option value="Dominico">Dominico</option>
            <option value="Dominico Hartón">Dominico Hartón</option>
          </select>
        </div>
        <div class="form__item">
          <label class="form__label" for="color">Color de encinte</label>
          <input class="form__input form__input--color" type="color" id="color" formControlName="color" required>
        </div>
        <button class="button button--success" type="submit" [disabled]="!isValidForm">
          <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="getUpdateBatchIcon().viewBox">
            <path [attr.d]="getUpdateBatchIcon().path"/>
          </svg>
          <span class="button__text">{{ getUpdateTapeButtonMessage() }}</span>
        </button>
      </form> 
    </div>
  </div>
</div>
<app-notification *ngIf="showDialog" [message]="message" [positiveNotification]="positiveNotification" (closeNotification)="closeNotification()"></app-notification>