<div class="modal-wrapper" [ngClass]="{'mostrar-modal': editarloteVisible}">
  <div class="modal-body card">
    <div class="modal-header">
      <button (click)="editarEliminar()">Editar/Eliminar</button>

      <h1 class="heading">Editar Lote</h1>
      <a href="javascript:void(0);" role="button" class="close" (click)="cerrarTodo()"><i class="fa-solid fa-xmark"></i>X</a>
    </div>
    <div *ngIf="editareliminar">
      <button (click)="eliminarLote()">
        <h1>Eliminar Lote</h1>
      </button>
      </div>
    <div *ngIf="!editareliminar">
      <!-- <div *ngFor="let itemLote of lote">
         <div *ngIf="batchID === itemLote.batchID"> -->
           <form [formGroup]="loteForm" (ngSubmit)="onSubmit()">
             <div class="form-group">
               <label for="batchName">Nombre del Lote</label>
               <input type="text" id="batchName" formControlName="batchName" class="form-control" required>
     
             </div>
             <div class="form-group">
               <label for="responsible">Responsable</label>
               <input type="text" id="responsible" formControlName="responsible" class="form-control" required>
             </div>
             <div class="form-group">
               <label for="mainVariety">Variedad Principal</label>
               <input type="text" id="mainVariety" formControlName="mainVariety" class="form-control" required>
             </div>
             <button type="submit" [disabled]="loteForm.invalid" class="btn btn-primary">Editar Lote</button>
           </form>
         <!-- </div>
       </div> -->
   
       {{ loteForm.value | json }}
   </div>
   
  </div>
</div>

<div class="custom-dialog" *ngIf="mostrarDialogo">
  <div class="dialog-content">
    <p>{{ mensaje }}</p>
    <button (click)="confirmarAccion()">Aceptar</button>
    <button (click)="cancelarAccion()">Cancelar</button>
  </div>
</div>
