<h1>Fincas</h1>

<div class="filter">
    <div [formGroup]="infoUser">
        <label for="state">Estado en la Asociación </label>
        <select name="state" id="state" formControlName="state" required>
          <option value="active">Activo</option>
          <option value="inactive">Inactivo</option>
          <option value="all">Todos</option>
        </select>
    </div>

    <div>
        <input type="number" placeholder="Ingrese documento" [(ngModel)]="docNumberInput">
        <button (click)="docSearch()">Buscar</button>
    </div>
</div>

<button (click)="View()" *ngIf="buttonFlag">Actualizar</button>

<span *ngIf="stateFlag"><p style="color: red;">No hay usuarios para mostrar</p></span>

<table class="farm-table">
    <thead>
        <tr>
            <th>Finca</th>
            <th>Propietario</th>
            <th>Extensión (m²)</th>
            <th>Próximo corte</th>
            <th>Vereda</th>
            <th>Celular</th>
            <th>Correo electrónico</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let farm of farms">
            <td>{{ farm.farmName }}</td>
            <td>{{ farm.names }} {{ farm.firstLastname }}</td>
            <td>{{ farm.area }}</td>
            <td>{{ farm.endDate }}</td>
            <td>{{ farm.zoneName }}</td>
            <td>{{ farm.phoneNumber }}</td>
            <td>{{ farm.email }}</td>
            <td>
              <a href="javascript:void(0);" (click)="mostrarModal(farm.docNumber,farm.docType)">
                  Editar
              </a>
          </td>
        </tr>
    </tbody>
</table>

<span *ngIf="searchFlag"><p>No hay usuario relacionado con ese documento, verificar el estado.</p></span>

<app-modal-farm [modalVisible]="modalVisible" (cerrarModal)="cerrarModal()" (cerrarActualizar)="View()" [modalData]="modalData"></app-modal-farm>