.header {
  background-color: #f6f6f6;
  padding: 1rem; /* Ajustado en rem para ser relativo al tamaño de fuente del elemento raíz */
  text-align: center;
  max-width: 800px; /* Ajusta según tus necesidades */
  margin: 0 auto; /* Centra el contenido */
}

.header__title {
  padding: 1rem; 
  font-size: 1.5rem; 
}