.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mb {
    margin-bottom: 50px;
  }
  
  .header__icon {
    width: 1rem;
  }
  
  .icon--marginr {
    margin-right: 0.5rem;
  }
  
  .title {
    text-transform: uppercase;
  }
  
  .inline {
    display: inline;
  }
  
  .subtitle {
    text-transform: capitalize;
  }
  
  .section__item {
    display: flex;
    align-items: center;
  }
  
  .form__item {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 30px 0;
  }
  
  label {
    margin-right: 10px;
  }
  
  .form__input {
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .error {
    text-align: center;
    color: red;
  }
  