/* You can add global styles to this file, and also import other style files */
@import url("assets/fontawesome/css/all.css");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f6f6;
}

body.modal-open {
  overflow: hidden;
}
