<div class="modal" [ngClass]="{'modal--show': showCreateTape}" (click)="closeDialog($event)"
  [attr.aria-hidden]="!showCreateTape"
  [attr.aria-modal]="showCreateTape ? 'true' : 'false'" role="dialog" aria-labelledby="modalTitle">
  <div class="modal__card">
    <div class="modal__header">
      <h1 class="modal__heading" id="modalTitle">Crear nueva cinta</h1>
      <a  class="modal__close" href="javascript:void(0);" role="button" (click)="closeCreateTape.emit()" aria-label="Cerrar modal">
        <i class="close__icon fa-solid fa-xmark" aria-hidden="true"></i>
      </a>
    </div>
    <div class="modal__content">
      <div class="modal__description">
        <p>Aquí puedes crear una nueva cinta. Completa la información de tu lote asegúrate de revisar cuidadosamente antes de guardar los cambios.</p>
      </div>
      <form class="modal__form" [formGroup]="loteForm" (ngSubmit)="onSubmit()">
        <div class="form__item">
          <label class="form__label" for="batchID">Seleccionar Lote</label>
          <select class="form__input input--select" name="batchID" id="batchID" formControlName="batchID" required>
            <option *ngFor="let item of lote" [value]="item.batchID">{{ item.batchName }}</option>
          </select>
        </div>
        <div class="form__item">
          <label class="form__label" for="numBunches">Número de racimos</label>
          <input class="form__input" type="number" id="numBunches" formControlName="numBunches" autocomplete="off" required>
        </div>
        <div class="form__item">
          <label class="form__label" for="variety">Variedad</label>
          <select class="form__input input--select" id="variety" formControlName="variety" required>
            <option value="Hartón">Hartón</option>
            <option value="Dominico">Dominico</option>
            <option value="Dominico Hartón">Dominico Hartón</option>
          </select>
        </div>
        <div class="form__item">
          <label class="form__label" for="color">Color de encinte</label>
          <input class="form__input form__input--color" type="color" id="color" formControlName="color" value="" required>
        </div>
        <button class="button button--success" type="submit" [disabled]="!loteForm.valid">
          <i [class]="'button__icon fa-solid ' + getCreateTapeIconClass()" aria-hidden="true"></i>
          <span class="button__text">{{ getCreateTapeButtonMessage() }}</span>
        </button>
      </form> 
    </div> 
  </div>
</div>

<div class="notification" *ngIf="showDialog">
  <i class="notification__icon  fa-regular fa-circle-check"></i>
  <span>{{ message }}</span>
</div>