button {
  border-radius: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out;
}

.modal--show {
  opacity: 1;
  z-index: 999;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__card {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0 1rem;
  display: flex;
  overflow: scroll;
  border-radius: 1rem;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  transition: opacity 0.25s ease-in-out;
}

.modal__header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  max-width: 800px;
  margin-bottom: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid #ced4da;
}

.modal__heading {
  font-size: 1.5rem;
}

.modal__close {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background: none;
  color: #1d594f;
  text-decoration: none;
  transition: transform 0.3s;
}

.modal__close:hover {
  transform: scale(1.5);
}

.close__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal__description {
  margin-bottom: 1.5rem;
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.form__input {
  width: 55%;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form__input--color {
  padding: 0.3rem 0.5rem;
}

.input--select {
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
}

.button {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  padding: 0.5rem;
  font-weight: 500;
  font-size: .875rem;
  margin-top: 1.5rem;
  align-items: center;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  justify-content: center;
}

.button__icon {
  width: 1rem;
} 

.button:disabled {
  background-color: #e9ecef; 
  color: #6c757d; 
}

.button--success {
  background-color: #2e7d32; 
  color: #ffffff;
}

.notification {
  left: 0; 
  right: 0; 
  opacity: 0;
  gap: 0.5rem;
  z-index: 999;
  display: flex;
  margin: 0 1rem;
  color: white;
  position: fixed;
  bottom: 4.68rem;
  padding: 1.1rem;
  visibility: hidden;
  align-items: center;
  flex-direction: row;
  border-radius: 0.5rem;
  justify-content: center;
  background-color: #2e7d32;
  transform: translateY(30px);
  animation: fade-in 3s linear;  
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.notification__icon {
  width: 1rem;
  margin-right: 4px;
}

@keyframes fade-in {
  5% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
  95% {
      opacity: 1;
      transform: translateY(0);
  }
}