.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .button--content{
    display: flex;
    justify-content: space-between;
} */

.card {
    width: 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
