body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  border-radius: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header__icon {
  width: 1rem;
}

.icon--marginr {
  margin-right: 0.5rem;
}

.title {
  text-transform: uppercase;
}

.inline {
  display: inline;
}

.subtitle {
  text-transform: capitalize;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form__section {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
  border-radius: 15px;
  padding: 15px;
  padding-top: 35px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.section__item {
  display: flex;
  margin: 0 20px 20px 0;
  align-items: center;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 30px 0;
}

label {
  margin-right: 10px;
}

.form__input {
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.error {
  text-align: center;
  color: red;
}

.required::after {
  content: " *";
  color: red;
}

.mr {
  margin-right: 15px;
}

.mb {
  margin-bottom: 40px;
}

.button {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  align-items: center;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  justify-content: center;
}

.button:disabled {
  background-color: #e9ecef;
  color: #6c757d;
}

.button--success {
  margin-top: 1.5rem;
  background-color: #2e7d32;
  color: #ffffff;
}

.button--cancel {
  width: 7rem;
  background-color: #e9ecef;
  color: #333;
  transition: transform 0.3s;
}

.button--cancel:hover {
  transform: scale(1.1);
}

.activeButton {
  visibility: visible;
}

.disableButton {
  visibility: hidden;
}