<div *ngIf="createVehicleVisible">
  <div class="header">
    <div>
      <svg class="header__icon icon--marginr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
      </svg>
      <span><h1 class="title inline">añadir vehículo</h1></span>
    </div>
    <button class="button button--cancel" (click)="cerrarTodo()">Cancelar</button>
  </div>
  
  <form class="infoTotal" [formGroup]="infoUser" (ngSubmit)="onSubmitUser()">
    <div class="form__item">
      <label for="docType">Tipo de documento</label>
      <select class="form__input select" name="docType" id="docType" formControlName="docType" required>
        <option *ngFor="let item of docTypeselect" [value]="item.id">{{ item.name }}</option>
      </select>
    </div>
    <div class="form__item">
      <label for="docNumber">N° de Identificación</label>
      <input class="form__input" type="number" id="docNumber" formControlName="docNumber" placeholder="Digite el número" required>
    </div>
    <span class="error" *ngIf="activSpan">Usuario no encontrado</span>
    <button class="button button--success" [ngClass]="{'disableButton': activVehicle, 'activeButton': !activVehicle}" type="submit" [disabled]="infoUser.invalid">Buscar</button>
  </form>
  
  <form [formGroup]="infoVehicle" (ngSubmit)="onSubmit()" *ngIf="activVehicle">
    <div class="section__header">
      <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
      </svg>
      <span><h2 class="subtitle inline">Información del transportador</h2></span>
    </div>
    <div class="form__section">
      <div class="section__item">
        <label class="required" for="licenseType">Tipo de Licencia</label>
        <input class="form__input" type="text" id="licenseType" formControlName="licenseType">
      </div>    
      <div class="section__item">
        <label class="required" for="licenseExpiration">Fecha de expedición</label>
        <input class="form__input" type="date" id="licenseExpiration" formControlName="licenseExpiration">
      </div>
    
      <div class="section__item">
        <label class="required" for="plate">Placa</label>
        <input class="form__input" type="text" id="plate" formControlName="plate">
      </div>
      <div class="section__item">
        <label class="required" for="soatExpiration">Vencimiento de SOAT</label>
        <input class="form__input" type="date" id="soatExpiration" formControlName="soatExpiration">
      </div>
      <div class="section__item">
        <label class="required" for="techExpiration">Vencimiento de Revisión Técnico-Mecánica</label>
        <input class="form__input" type="date" id="techExpiration" formControlName="techExpiration">
      </div>
      <div class="section__item">
          <label class="required" for="type">Tipo</label>
          <select class="form__input select" name="docType" id="type" formControlName="type">
            <option *ngFor="let item of typeSelect" [value]="item.id">{{ item.name }}</option>
          </select>
      </div>
      <div class="section__item">
        <label class="required" for="capacity">Capacidad (T)</label>
        <input class="form__input" type="number" id="capacity" formControlName="capacity">
      </div>
      <div class="section__item">
        <label class="required" for="comments">Comentarios</label>
        <textarea rows="2" id="comments" formControlName="comments"></textarea>
      </div>
    </div>
    
    <button class="button button--success" type="submit" [disabled]="infoVehicle.valid">Añadir vehículo</button>
  </form>
</div>